.inputs-container{
  display: flex;
  max-width: 80%;
  margin: 15px auto;
}
.inputs-button{
  margin-left:10px;
}
.images-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 15px auto;
}
.group-card{
  margin: 15px;
  padding: 15px;
  background-color: #c6c6c6;
  border-radius: 10px;
}
.group-card_content{
  display: flex;
  flex-wrap: wrap;
}